.card {
  display: flex;
  margin: 2%;
  align-items: center;
  width: 25%;
  justify-content: center;
  flex-flow: column;
}

.list {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100vh;
  flex-flow: wrap;
  background: #6846466e;
  backdrop-filter: blur(4px);
}

.header,
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  margin: 2%;
  border-radius: 100px;
  box-shadow: -4px 2px 9px rgb(49 51 73 / 85%);
}

.banner {
  font: bolder 10vw "Alfa Slab One";
  text-align: center;
  margin: 0;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper::after {
  content: "";
  width: 300px;
  height: 400px;
  background: rgb(230 121 52 / 76%);
  bottom: -1%;
  left: 26%;
  display: inline-block;
  border-radius: 100%;
  filter: blur(100px);
  z-index: -9999;
  position: absolute;
}

.wrapper::before {
  content: "";
  width: 300px;
  height: 500px;
  background: rgb(230 70 52 / 78%);
  bottom: 19%;
  display: inline-block;
  border-radius: 100%;
  filter: blur(100px);
  z-index: -9999;
  left: 40%;
  position: absolute;
}

.icon {
  border-radius: 50px;
  margin: 2%;
  width: 100px;
  height: 100px;
  box-shadow: -4px 1px 4px rgb(0 0 0 / 40%);
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
