#dashboard {
  background-image: url("/karlach.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: initial;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Sedan SC", serif;
  background-image: url("/astarion.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  width: 95%;
  position: relative;
  min-height: 75vh;
  height: 100%;
}

/* .cardWrapper form {
  background: none;
  display: flex;
  flex-flow: column;
} */

.inner_cardWrapper {
  margin: 1.5%;
  position: absolute;
}

.card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  align-items: center;
  background: #0000006b;
  background-image: url("/smoke.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 45vh;
  margin: 4% 1%;
  max-width: 350px;
  box-shadow: -4px 6px 15px rgb(0 0 0 / 87%),
    3px -3px 10px rgb(250 205 159 / 32%);
  width: 19vw;
  border-top: 0.5px solid #fbcea0;
  border-right: 0.5px solid #fbcea0;
  backdrop-filter: blur(7px);
  background-blend-mode: hue;
  text-align: center;
  color: wheat;
}

.card section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card.expand {
  width: 80vw;
  height: 45vw;
  position: fixed;
  top: 18%;
  z-index: 999;
  max-width: 1000px;
  max-height: 570px;
  background-blend-mode: hard-light;
  flex-flow: row;
}

.card.expand .more {
  right: 45%;
}

.card.expand:hover {
  backdrop-filter: blur(7px);
  box-shadow: -4px 6px 15px rgb(0 0 0 / 87%),
    3px -3px 10px rgb(250 205 159 / 32%);
}

.card.expand .charIcons {
  position: initial;
  display: initial;
  width: 50%;
}

.card.expand .charIcons img {
  width: 100%;
}

.card.expand section {
  display: flex;
  width: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.card.expand:hover .more {
  color: white;
  border-bottom: white;
}

.card:hover {
  backdrop-filter: blur(22px);
  background-blend-mode: hard-light;
  box-shadow: -13px 19px 15px rgb(0 0 0), 4px -4px 10px rgb(250 205 159 / 32%);
}

.modal {
  background: #000000c2;
  width: 100%;
  height: 90vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999;
  top: 5%;
}

.innerModal {
  background: #0f1218f5;
  color: white;
  font-family: "Sedan SC", serif;
  position: relative;
  width: 50vw;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.innerModal .modalClose {
  position: absolute;
  left: 20px;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.innerModal .delete {
  width: 35%;
  border: none;
  background: #c94747;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 1%;
}

.modal form {
  justify-content: space-evenly;
}

.cardChar {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 1%;
  width: 100%;
}

.cardChar span,
.cardChar img,
.cardChar p {
  padding: 0 1%;
}

.card span {
  font-weight: bold;
}

.cardChar img {
  width: 110px;
}

.cardChar,
.card ul {
  justify-content: center;
  width: 90%;
}

.card ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  padding: 3% 0;
}

.card ul li {
  list-style: none;
  padding: 1%;
  text-shadow: -5px 3px 2px black;
}

.list {
  display: flex;
  /* flex-flow: column; */
  align-items: center;
  width: 80%;
  height: 100vh;
  flex-flow: wrap;
  /* background: #6846466e; */
  backdrop-filter: blur(4px);
}

.header {
  height: 40vh;
  width: 80%;
}

.banner {
  font: bolder 10vw "Alfa Slab One";
  text-align: center;
  margin: 0;
  border: 4px solid;
  width: 100%;
  height: 100%;
  color: white;
  mix-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/static.png");
}

.icon {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: -4px 1px 4px rgb(0 0 0 / 40%);
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

img.heart {
  height: 30px;
  width: 30px;
  margin: 0 2%;
}

.charIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -97px;
}

.charIcons img:not(.heart) {
  border-radius: 100%;
  width: 200px;
}

.charIcons::before {
  content: "";
  width: 250px;
  height: 180px;
  bottom: 7%;
  background: rgb(0 0 0);
  display: inline-block;
  border-radius: 100%;
  filter: blur(21px);
  z-index: -9999;
  position: absolute;
  left: -11%;
}

.card.expand .charIcons::before {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 77%);
  filter: blur(100px);
  left: -2%;
}

.progress {
  border-radius: 5px;
  padding: 2%;
  font-weight: bold;
  font-size: 0.8vw;
}

.expand .progress {
  font-weight: 800;
  font-size: 1vw;
}

.expand h3 {
  font-size: 2vw;
}

#inProgress {
  border-top: 1px solid #efe387;
  border-bottom: 1px solid #efe387;
  color: #efe387;
}

#completed {
  border-top: 1px solid #bee79c;
  border-bottom: 1px solid #bee79c;
  color: #bee79c;
}

.edit {
  display: none;
  position: absolute;
  bottom: 11px;
  right: 0;
  width: 100%;
}

.card:hover .edit {
  display: flex;
  justify-content: space-between;
}

.card:hover .more {
  color: rgb(94, 41, 41);
  border-bottom: 1px solid rgb(94, 41, 41);
}

.card button {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
}

.edit button {
  border-radius: 100%;
  margin: 2% 5%;
  width: 30px;
  height: 30px;
  border: 0.5px solid #767171;
  background: #000000ed;
  box-shadow: -2px 2px 7px rgb(0 0 0 / 78%);
  color: #fbcea0;
}

button.more {
  font-weight: bold;
  border-bottom: 1px solid white;
  z-index: 999;
  position: absolute;
  bottom: 18px;
  right: 36%;
}
